In [57]:
import pandas as pd

In [58]:
df = pd.read_csv("student.csv")

#3.1 การจัดการข้อมูลหาย

วิธีที่ 1 ลบแถวที่มีค่าหาย

In [59]:
data = {
    'ชื่อ': ['ก้อง', 'กล้า', 'กิ่ง', 'กานต์', 'กุล', 'กบ', 'กิตติ', 'กมล', 'กร', 'กนก'],
    'อายุ': [21, 22, 20, 21, None, 22, 21, 20, 21, 22],  # เฉพาะกุลไม่กรอกอายุ
    'GPA': [3.5, 3.2, 3.8, 3.0, 3.7, 3.3, 3.6, 3.4, 3.1, 3.9]
}

In [60]:
df = pd.DataFrame(data)

สังเกตจากคนที่ชื่อว่า กุล มีอายุเป็นค่า NaN และมีGPA=3.7

In [61]:
print("ก่อนลบ")
print(df) #นับจำนวนแถวทั้งหมด มี10 แถว

ก่อนลบ
    ชื่อ  อายุ  GPA
0   ก้อง  21.0  3.5
1   กล้า  22.0  3.2
2   กิ่ง  20.0  3.8
3  กานต์  21.0  3.0
4    กุล   NaN  3.7
5     กบ  22.0  3.3
6  กิตติ  21.0  3.6
7    กมล  20.0  3.4
8     กร  21.0  3.1
9    กนก  22.0  3.9

-ทำหน้าที่ลบข้อควมในแถวที่ไม่มีข้อมูล หรือเป็นNaN ออกจากแถว

In [62]:
df_clean = df.dropna()

In [63]:
print(f"\nผลการลบ - ก่อนลบ {len(df)} แถว, หลังลบ {len(df_clean)} แถว")
print("หลังลบ (เหลือ 9 คน):")
print(df_clean) #นับจำนวนแถวหลังลบ มี9 แถว

ผลการลบ - ก่อนลบ 10 แถว, หลังลบ 9 แถว
หลังลบ (เหลือ 9 คน):
    ชื่อ  อายุ  GPA
0   ก้อง  21.0  3.5
1   กล้า  22.0  3.2
2   กิ่ง  20.0  3.8
3  กานต์  21.0  3.0
5     กบ  22.0  3.3
6  กิตติ  21.0  3.6
7    กมล  20.0  3.4
8     กร  21.0  3.1
9    กนก  22.0  3.9

วิธีที่ 2 เติมค่าด้วยค่าเฉลี่ย

In [64]:
data = {
    'ชื่อ': ['สมชาย', 'สมหญิง', 'สมศักดิ์', 'สมใจ', 'สมปอง'],
    'อายุ': [20, None, 19, 22, 21]  # สมหญิงไม่ได้กรอกอายุ
}

In [65]:
df = pd.DataFrame(data)

In [66]:
print("ก่อนเติมค่า")
print(df)

ก่อนเติมค่า
       ชื่อ  อายุ
0     สมชาย  20.0
1    สมหญิง   NaN
2  สมศักดิ์  19.0
3      สมใจ  22.0
4     สมปอง  21.0

คำนวณค่าเฉลี่ยของคอลัมน์ 'อายุ' โดยไม่รวมค่า NaN

เติมค่า 20.5 ลงในช่องที่เป็น NaN (ของสมหญิง)

inplace=True คือการแก้ไขข้อมูลใน DataFrame เดิมโดยตรง ไม่สร้าง DataFrame ใหม่

In [67]:
mean_age = df['อายุ'].mean()
df['อายุ'].fillna(mean_age, inplace=True)

/tmp/ipython-input-1182873630.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['อายุ'].fillna(mean_age, inplace=True)

แสดงผลค่าเฉลี่ยโดยมีทศนิยม 1 ตำแหน่ง (.1f)

In [68]:
print(f"\nค่าเฉลี่ยอายุ - {mean_age:.1f} ปี")
print("หลังเติมค่า")
print(df)

ค่าเฉลี่ยอายุ - 20.5 ปี
หลังเติมค่า
       ชื่อ  อายุ
0     สมชาย  20.0
1    สมหญิง  20.5
2  สมศักดิ์  19.0
3      สมใจ  22.0
4     สมปอง  21.0

วิธีที่ 3 เติมค่าด้วยค่าที่พบบ่อยที่สุด

In [69]:
data = {
    'ชื่อ': ['สมชาย', 'สมหญิง', 'สมศักดิ์', 'สมใจ', 'สมปอง'],
    'คณะ': ['วิทยาศาสตร์', 'วิทยาศาสตร์', None, 'ศิลปศาสตร์', 'วิทย์']
}
df = pd.DataFrame(data)

In [70]:
print("ก่อนเติมค่า")
print(df)

ก่อนเติมค่า
       ชื่อ          คณะ
0     สมชาย  วิทยาศาสตร์
1    สมหญิง  วิทยาศาสตร์
2  สมศักดิ์         None
3      สมใจ   ศิลปศาสตร์
4     สมปอง        วิทย์

การหาค่าที่พบบ่อยที่สุด (Mode) ในคอลัมน์ 'คณะ' ในที่นี้ค่าที่พบบ่อยคือ'วิทยาศาสตร์'

[0] - เลือกค่า mode ตัวแรกที่พบ ถึงแม้จะมีหลายค่าก็ตาม

 เติม 'วิทยาศาสตร์' ลงในช่องที่เป็น NaN

In [71]:
df['คณะ'].fillna(df['คณะ'].mode()[0], inplace=True)

/tmp/ipython-input-109974322.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['คณะ'].fillna(df['คณะ'].mode()[0], inplace=True)

In [72]:
print("\nหลังเติมค่า")
print(df)

หลังเติมค่า
       ชื่อ          คณะ
0     สมชาย  วิทยาศาสตร์
1    สมหญิง  วิทยาศาสตร์
2  สมศักดิ์  วิทยาศาสตร์
3      สมใจ   ศิลปศาสตร์
4     สมปอง        วิทย์

#3.2 การทำให้ข้อมูลเป็นมาตรฐาน

สร้างฟังก์ชันที่รับชื่อคณะเข้ามาแล้วแปลงเป็นชื่อมาตรฐาน

if คือเงื่อนไขในการตรวจสอบว่าชื่อที่รับเข้ามาอยู่ใน list หรือไม่ และทำการคืนค่าชื่อคณะที่เป็นมาตรฐาน

In [73]:
def standardize_faculty(name):
    if name in ['วิทยาศาสตร์', 'วิทย์', 'Science', 'คณะวิทยาศาสตร์']:
        return 'วิทยาศาสตร์'
    elif name in ['ศิลปศาสตร์', 'ศิลป์', 'Arts']:
        return 'ศิลปศาสตร์'
    else:
        return name

สร้างคอลัมน์ใหม่มาเก็บชื่อคณะที่เป็นมาตรฐาน หลังจาก ใช้ฟังก์ชันกับทุกค่าในคอลัมน์ 'คณะ'

In [74]:
df['คณะ_มาตรฐาน'] = df['คณะ'].apply(standardize_faculty)

In [75]:
df

       ชื่อ          คณะ  คณะ_มาตรฐาน
0     สมชาย  วิทยาศาสตร์  วิทยาศาสตร์
1    สมหญิง  วิทยาศาสตร์  วิทยาศาสตร์
2  สมศักดิ์  วิทยาศาสตร์  วิทยาศาสตร์
3      สมใจ   ศิลปศาสตร์   ศิลปศาสตร์
4     สมปอง        วิทย์  วิทยาศาสตร์

#3.3 การจัดการค่าผิดปกติ

In [76]:
data = {
    'ชื่อ': ['นักศึกษา1', 'นักศึกษา2', 'นักศึกษา3', 'นักศึกษา4', 'นักศึกษา5',
             'นักศึกษา6', 'นักศึกษา7', 'นักศึกษา8', 'นักศึกษา9', 'นักศึกษา10'],
    'อายุ': [20, 21, 22, 19, 20, 150, 21, 22, 23, 18]  # 150 คือค่าผิดปกติ
}
df = pd.DataFrame(data)

In [77]:
print("ข้อมูลต้นฉบับ")
print(df)
print(f"\nค่าเฉลี่ยอายุ (รวมค่าผิดปกติ) - {df['อายุ'].mean():.2f}")

ข้อมูลต้นฉบับ
         ชื่อ  อายุ
0   นักศึกษา1    20
1   นักศึกษา2    21
2   นักศึกษา3    22
3   นักศึกษา4    19
4   นักศึกษา5    20
5   นักศึกษา6   150
6   นักศึกษา7    21
7   นักศึกษา8    22
8   นักศึกษา9    23
9  นักศึกษา10    18

ค่าเฉลี่ยอายุ (รวมค่าผิดปกติ) - 33.60

การหาค่า Quartile ที่ 1 (Q1) คือค่าที่มี 25% ของข้อมูลน้อยกว่าหรือเท่ากับค่านี้

In [78]:
Q1 = df['อายุ'].quantile(0.25)
Q1

np.float64(20.0)

หาค่า Quartile ที่ 3 (Q3) คือค่าที่มี 75% ของข้อมูลน้อยกว่าหรือเท่ากับค่านี้

In [79]:
Q3 = df['อายุ'].quantile(0.75)
Q3

np.float64(22.0)

การหา Interquartile Range คือช่วงระหว่าง Q1 และ Q3 บอกถึงการกระจายตัวของข้อมูลส่วนกลาง 50%

In [80]:
IQR = Q3 - Q1
IQR

np.float64(2.0)

1.5 เป็นค่ามาตรฐานที่นิยมใช้ในการหาค่าผิดปกติ

lower_bound และ upper_bound ขอบเขตล่างและบน สำหรับหาว่าค่าไหนเป็นค่าที่ผิดปกติ

In [81]:
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

lower_bound, upper_bound

(np.float64(17.0), np.float64(25.0))

การกำหนดช่วงอายุที่ต้องการใช้

In [82]:
df_no_outliers = df[(df['อายุ'] >= lower_bound) & (df['อายุ'] <= upper_bound)]

In [83]:
print(f"\nขอบเขตล่าง - {lower_bound}")
print(f"ขอบเขตบน - {upper_bound}")
print(f"\nข้อมูลหลังกรองค่าผิดปกติ")
print(df_no_outliers)
print(f"\nค่าเฉลี่ยอายุ (หลังกรองค่าผิดปกติ) - {df_no_outliers['อายุ'].mean():.2f}")

ขอบเขตล่าง - 17.0
ขอบเขตบน - 25.0

ข้อมูลหลังกรองค่าผิดปกติ
         ชื่อ  อายุ
0   นักศึกษา1    20
1   นักศึกษา2    21
2   นักศึกษา3    22
3   นักศึกษา4    19
4   นักศึกษา5    20
6   นักศึกษา7    21
7   นักศึกษา8    22
8   นักศึกษา9    23
9  นักศึกษา10    18

ค่าเฉลี่ยอายุ (หลังกรองค่าผิดปกติ) - 20.67

#4.1 One-Hot Encoding แปลงข้อมูลประเภทเป็นตัวเลข

In [84]:
data = pd.DataFrame({
    'ชื่อ': ['A', 'B', 'C', 'D'],
    'คณะ': ['วิทย์', 'ศิลป์', 'วิทย์', 'วิศวะ']
})

 pd.get_dummies() ให้ผลลัพธ์แบบ boolean (True/False) สามารถแปลงเป็น 0/1 ได้ด้วย *1

In [85]:
data_encoded = pd.get_dummies(data, columns=['คณะ'])
print(data_encoded)

  ชื่อ  คณะ_วิทย์  คณะ_วิศวะ  คณะ_ศิลป์
0    A       True      False      False
1    B      False      False       True
2    C       True      False      False
3    D      False       True      False

In [86]:
data_encoded = pd.get_dummies(data, columns=['คณะ'])
print(data_encoded*1)

  ชื่อ  คณะ_วิทย์  คณะ_วิศวะ  คณะ_ศิลป์
0    A          1          0          0
1    B          0          0          1
2    C          1          0          0
3    D          0          1          0

#4.2 การสร้าง Feature จากวันเวลา

แปลง string ให้เป็นประเภท datetime ที่ pandas สามารถจัดการและคำนวณได้

In [87]:
coffee_data = pd.DataFrame({
    'วันเวลา': pd.to_datetime(['2024-01-15 07:30', '2024-01-15 12:00',
                               '2024-01-15 16:30', '2024-01-16 08:00']),
    'ยอดขาย': [1500, 3200, 2100, 1800]
})

.dt.hour - ดึงชั่วโมงจาก datetime เช่น 07:30 จะได้ 7, 12:00 จะได้ 12

.dt.day_name() - ดึงชื่อวันในสัปดาห์เป็นภาษาอังกฤษ เช่น Monday, Tuesday เป็นต้น

pd.cut() - แบ่งข้อมูลตัวเลขเป็นช่วง (bins) และใส่ label ให้แต่ละช่วง

bins=[0, 10, 14, 18, 24] - กำหนดขอบเขตของแต่ละช่วง (0-10, 10-14, 14-18, 18-24)

labels=['เช้า', 'กลางวัน', 'บ่าย', 'เย็น'] - ชื่อที่จะใช้เรียกแต่ละช่วง

In [88]:
coffee_data['ชั่วโมง'] = coffee_data['วันเวลา'].dt.hour
coffee_data['วันในสัปดาห์'] = coffee_data['วันเวลา'].dt.day_name()
coffee_data['ช่วงเวลา'] = pd.cut(coffee_data['ชั่วโมง'],
                                  bins=[0, 10, 14, 18, 24],
                                  labels=['เช้า', 'กลางวัน', 'บ่าย', 'เย็น'])

In [89]:
print(coffee_data[['วันเวลา', 'ช่วงเวลา', 'ยอดขาย']])

              วันเวลา ช่วงเวลา  ยอดขาย
0 2024-01-15 07:30:00     เช้า    1500
1 2024-01-15 12:00:00  กลางวัน    3200
2 2024-01-15 16:30:00     บ่าย    2100
3 2024-01-16 08:00:00     เช้า    1800

#4.3 การรวม Features

In [90]:
student_health = pd.DataFrame({
    'ชื่อ': ['สมชาย', 'สมหญิง', 'สมศักดิ์'],
    'ส่วนสูง_cm': [170, 165, 175],
    'น้ำหนัก_kg': [65, 55, 80]
})

สูตร BMI = น้ำหนัก(กิโลกรัม) / ส่วนสูง(เมตร)²

student_health['ส่วนสูง_cm']/100 เป็นการแปลงส่วนสูงจากเซนติเมตรเป็นเมตร

และ **2 คือ การยกกำลังสอง

pd.cut() เป็นการแบ่งค่า BMI เป็นช่วงตามเกณฑ์มาตรฐาน
0-18.5 = ผอม
18.5-25 = ปกติ
25-30 = อ้วน
30-100 = อ้วนมาก

In [91]:
student_health['BMI'] = student_health['น้ำหนัก_kg'] / (student_health['ส่วนสูง_cm']/100)**2
student_health['สุขภาพ'] = pd.cut(student_health['BMI'],
                                   bins=[0, 18.5, 25, 30, 100],
                                   labels=['ผอม', 'ปกติ', 'อ้วน', 'อ้วนมาก'])

In [92]:
print(student_health[['ชื่อ', 'BMI', 'สุขภาพ']])

       ชื่อ        BMI สุขภาพ
0     สมชาย  22.491349   ปกติ
1    สมหญิง  20.202020   ปกติ
2  สมศักดิ์  26.122449   อ้วน